# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
dist/
build/

# Virtual environment
venv/
env/

# Jupyter
.ipynb_checkpoints/



# API keys and environment
.env
*.env

# VSCode settings
.vscode/

# OS-specific
.DS_Store
Thumbs.db
desktop.ini

# Logs
*.log
logs/
